.addres-company__title{
    padding-top: 38px;
    text-align: center;
    font-size:clamp(1.313rem, 0.835rem + 2.39vw, 2.625rem);
    font-weight: 700;
    margin-bottom: 77px;
}
.addres-company__block{
    display: flex;
    justify-content: space-between;
}
.address__map {
    margin-bottom: 174px;
}
